
<div class="success container-fluid">
    <h1 style="text-align: center;">Thank you for shopping with us</h1>
    <h2 style="text-align: center;">Your order will be delivered soon</h2>
<div class="success-image">
<img src="assets/Images/dancing-fruit.jpg">
</div>
</div>
<div class="ordersummary">
<h1>Your order summary</h1>

<table class="table table-responsive">

<tr>
    <th>Sr.No</th>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
</tr>

<tbody>
<tr *ngFor= "let item of product; let i=index">
    <td>{{i+1}}</td>
    <td>{{item.productname}}</td>
    <td>{{item.price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.total}}</td>

    </tr>
    <tr>
    <td> <h4>Price: ${{totalamount}}</h4> </td>
    </tr>
</tbody>
    </table>

</div>
